<%= Gon::Base.render_data %>

<h2 class="text-center my-2">クイズを始めよう</h2>
  <div class="quiz-form border rounded p-3">
    <div class="row">
      <div class="col-sm-4 pt-0">クイズの種類</div>
      <div class="col-sm-8">
        <% if @quiz_type == "capital" %> 
          県庁所在地をあてる
        <% else %>
          都道府県名をあてる
        <% end %>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-4">
        出題数
      </div>
      <div class="col-sm-8">
        <%= @quiz_numbers  %>問
      </div>
    </div>
  </div>

  <div class="quiz-result-area my-3 p-3 text-center">
      <h2 class="quiz-result-sentence"></h2>
      <h3 class="quiz-result-sentence-add  text-success"></h3>
  </div>

  <div class="quiz-start-area">

    <!-- モーダル起動ボタン -->
    <button class="btn btn-lg btn-block btn-success quiz-start" data-toggle="modal" data-target="#quizModal">クイズスタート</button>
    <!-- 戻るボタン -->
    <%= link_to '戻る（クイズの種類と問題数を選びなおす）', root_path, class: "btn btn-lg btn-block btn-light" %>

  </div>


  <!-- モーダルウィンドウ -->
  <div class="modal fade" id="quizModal" tabindex="1" data-backdrop='static'>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="question-title">モーダルタイトル</h5>
        </div>
        <div class="modal-body">
          <h3 id="question">ここに問題が表示されます。</h3>

          <div class="row answers my-3">
            <div class="col-6 answer py-2">
              <button class="btn btn-lg btn-primary btn-block">選択肢１</button>
            </div>
            <div class="col-6 answer py-2">
              <button class="btn btn-lg btn-primary btn-block">選択肢１</button>
            </div>
            <div class="col-6 answer py-2">
              <button class="btn btn-lg btn-primary btn-block">選択肢１</button>
            </div>
            <div class="col-6 answer py-2">
              <button class="btn btn-lg btn-primary btn-block">選択肢１</button>
            </div>
          </div>
          <div class="quiz-judge-area">
            <h1 class="quiz-judge-sentence"></h1>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-lg btn-block btn-success quiz-next">次の問題へ</button>
          <button class="btn btn-lg btn-block btn-success quiz-end display-none" data-dismiss="modal" disabled>クイズ終了</button>
        </div>
      </div>
    </div></div>



<script>


$(function(){
  var $q_cnt = 0;
  var $correct_cnt = 0;
  var total_cnt = gon.quiz_data.length;
  var questionSentence = ( gon.quiz_type == "capital") ? "の県庁所在地は？" : "がある都道府県は？";


  var displayTitle = function(cnt, total){
    $('#question-title').text("第" + (cnt) + "問   /   全：" + total + "問");
  }

  var displayQuestionAndAnswers = function(cnt){
    // 問題文の表示
    $('#question').text("問題： " + gon.quiz_data[cnt][0] + questionSentence)
    // 回答選択肢の並べ替えと表示
    var $slide = Math.floor(Math.random() * 4);
    for (var i=0; i<4; i++){
      var j = (i + $slide ) % 4 ; 
      $('.answer').eq(j).children('.btn').text(gon.quiz_data[cnt][i+1]);
      if (i==0){
        $('.answer').eq(j).children('.btn').addClass('correct_answer');
      }
      $('.answers').find('.btn').prop('disabled', false)
    }
    // 判定文言のクリア
    $('.quiz-judge-sentence').text("");
  }

  $('.quiz-start').click( function(){
    $q_cnt = 0;
    $correct_cnt = 0;
    $('.quiz-judge-sentence').text("");

    displayTitle(1, total_cnt);
    displayQuestionAndAnswers(0)

    $('.quiz-next').prop('disabled', true);
    $('.quiz-end').prop('disabled', true);

    $q_cnt++
  })

  $('.quiz-next').click( function(){

    displayTitle($q_cnt + 1, total_cnt);
    displayQuestionAndAnswers($q_cnt);

    $('.quiz-next').prop('disabled', true);

    $q_cnt++;
  });

  $('.answer').children('.btn').click( function(){
    if ($(this).hasClass('correct_answer')){
      $('.quiz-judge-sentence').text("正解です！");
      $correct_cnt++;
    }else{
      $('.quiz-judge-sentence').text("違います！");
    }
    $('.answers').find('.btn').prop('disabled', true).removeClass('correct_answer');
    // $('.answers').find('.btn').addClass('btn-secondary');

    if ($q_cnt == total_cnt){
      $('.quiz-end').prop('disabled', false);
    }else{
      $('.quiz-next').prop('disabled', false);
    }
  });

  $('.quiz-end').click( function() {
    $('.quiz-result-sentence').html( total_cnt + "問中、" + $correct_cnt + "問、正解しました！");
    if ($correct_cnt == total_cnt){
    $('.quiz-result-sentence-add').html("全問正解！すごいぜ！自慢しよう！");
    }

    $('.quiz-start').text("クイズスタート（復習する）")

  })

});

</script>