
<h2 class="text-center my-2">クイズを始めよう</h2>
  <div class="quiz-form border rounded p-3">
    <div class="row">
      <div class="col-sm-4 pt-0">クイズの種類</div>
      <div class="col-sm-8">
        <% if @quiz_type == "capital" %> 
          県庁所在地をあてる
        <% else %>
          都道府県名をあてる
        <% end %>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-4">
        出題数
      </div>
      <div class="col-sm-8">
        <%= @quiz_numbers  %>問
      </div>
    </div>
  </div>

  <div class="quiz-result-area my-3 p-3 text-center">
      <h2 class="quiz-result-sentence"></h2>
      <h3 class="quiz-result-sentence-add  text-success"></h3>
  </div>

  <div class="quiz-start-area">

    <!-- モーダル起動ボタン -->
    <button class="btn btn-lg btn-block btn-success quiz-start" data-toggle="modal" data-target="#quizModal">もう一度やる（復習）</button>
    <!-- 戻るボタン -->
    <%= link_to '戻る（クイズを選ぶ）', root_path, class: "btn btn-lg btn-block btn-info" %>

  </div>


  <!-- モーダルウィンドウ -->
  <div class="modal" id="quizModal" tabindex="1" data-backdrop='static'>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="question-title">モーダルタイトル</h5>
        </div>
        <div class="modal-body">
          <h3 id="question">ここに問題が表示されます。</h3>

          <div class="row answers my-3">
            <div class="col-6 answer py-2">
              <button class="btn btn-lg btn-primary btn-block">選択肢１</button>
            </div>
            <div class="col-6 answer py-2">
              <button class="btn btn-lg btn-primary btn-block">選択肢１</button>
            </div>
            <div class="col-6 answer py-2">
              <button class="btn btn-lg btn-primary btn-block">選択肢１</button>
            </div>
            <div class="col-6 answer py-2">
              <button class="btn btn-lg btn-primary btn-block">選択肢１</button>
            </div>
          </div>
          <div class="quiz-judge-area">
            <h1 class="quiz-judge-sentence"></h1>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-lg btn-block btn-success quiz-next">次の問題へ</button>
          <button class="btn btn-lg btn-block btn-success quiz-end display-none" data-dismiss="modal" disabled>クイズ終了</button>
        </div>
      </div>
    </div></div>

