
<div class="container">
  <div class="row">
    <div class="col-sm-6">
     <p>県庁所在地あて</p>
    </div>
    <div class="col-sm-6">
     <p>都道府県あて</p>
    </div>
  </div>
  <div class="btn btn-lg btn-primary">開始</div>
</div>