/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/scss/bootstrap";

body {
  background-color: #fffffe;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  ;
}

.title-area {
  color: #00214d;
  font-family: 'ヒラギノ角ゴシック', serif;
}

.color-1{
  color: #00ebc7;
}

.color-2{
  color: #ff5470;
}

.color-3{
  color: #fde24f;
}
.color-4{
  color: #fd9535;
}


.question-form, .quiz-form{
   max-width: 630px;
   margin: 0 auto;
 }

.quiz-select-area, .quiz-result-area{
  max-width:630px;
  margin:0 auto;
}

.queestion-judge-area, .quiz-judge-area{
  height: 3rem;
}

// ボタン表示制御
.display-none{
  display: none;
}

.btn-selected{
  color: #ffffff !important; 
  background-color: #0062fc !important;
  border-color: #005cbf !important;
  opacity: 1 !important;
}

.br-sp{
  display: block;
}

@media  (min-width: 575px){	
  .br-sp { display:none; }
}

